[STANDARD]
		
[betaS1pi8]
	created 04/04/2023   17:51
[CALL]
	setS2Zoff.sc
[SCAN]
	file path	.
	name		*
	category	1_off_off_1
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.auxiliary.LinearBlue	20	mm	0.000000	95.000000	5.000000	0.010000	FALSE	time	30.000000	30		
[IN/OUT]
	AO_S1Z	Amps	0.521000	0.000000	0.000000	0.000000	1_off_off_1		
[ENDSCAN]
[END]
