[STANDARD]
		
[robotDiagonal]
	created 29/03/2023   11:30
[SCAN]
	file path	.
	name		*
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.auxiliary.Robot Diagonal	15	um	-7000.000000	7000.000000	1000.000000	0.000000	FALSE	time	20.000000			
[ENDSCAN]
[END]
