[STANDARD]
		
[robotZ]
	created 15/03/2024   17:39
[SCAN]
	file path	.
	name		*
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.auxiliary.Robot Z	10	um	284000.000000	275000.000000	-1000.000000	0.100000	FALSE	time	5.000000			
[ENDSCAN]
[END]
