[STANDARD]
		
[ifg1_newPS_2p5s_wv2]
	created 13/10/2025   15:18
[SCAN]
	file path	.
	name		*
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.axis2.phaseshifter 1	21	deg	0.300000	2.300000	0.100000	0.100000	FALSE	time	5.000000			
[ENDSCAN]
[END]
