[STANDARD]
		
[ifg1_newPS_2p5s_AP]
	created 11/10/2025   18:57
[SCAN]
	file path	.
	name		*
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.axis2.phaseshifter 1	21	deg	-1.300000	0.700000	0.100000	0.100000	FALSE	time	5.000000			
[ENDSCAN]
[END]
