[STANDARD]
		
[robot_diag_path_2_1_3]
	created 18/06/2025   19:38
[ENCODER]
	S18.axis2.Aperture Y
[ENCODER]
	S18.axis2.Aperture Z
[SCAN]
	file path	.
	name		*
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.auxiliary.Robot Diagonal	41	um	-45000.000000	45000.000000	2250.000000	0.100000	FALSE	time	5.000000			
[ENDSCAN]
[END]
