[STANDARD]
		
[robot_diag_cont]
	created 17/06/2025   17:38
[SCAN]
	file path	.
	name		*
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.auxiliary.Robot Diagonal	5	um	62000.000000	70000.000000	2000.000000	0.100000	FALSE	time	2.000000			
[ENDSCAN]
[END]
