[STANDARD]
		
[robot_diag_Indium]
	created 26/06/2025   19:36
[SCAN]
	file path	.
	name		*
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.auxiliary.Robot Diagonal	42	um	-60000.000000	20935.064934	1974.025974	0.100000	FALSE	time	2.000000			
[ENDSCAN]
[END]
