[STANDARD]
		
[rocking]
	created 31/08/2023   10:20
[SCAN]
	file path	.
	name		rocking
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.axis2.piezo rotation	41	deg	0.146000	0.148000	0.000050	0.000000	FALSE	time	5.000000			
[ENDSCAN]
[MOTOR]
	S18.axis2.piezo rotation	1	deg	FIT	AUX	PEAK65			
[END]
