[STANDARD]
		
[robotZ]
	created 25/10/2023   13:22
[SCAN]
	file path	.
	name		*
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.auxiliary.Robot Z	43	um	294000.000000	252000.000000	-1000.000000	0.000000	FALSE	time	5.000000			
[ENDSCAN]
[END]
