[STANDARD]
		
[rockingL]
	created 08/11/2023   16:56
[CALL]
	gate1close.sc
[SCAN]
	file path	.
	name		rocking
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.axis2.piezo rotation	65	deg	0.475000	0.480200	0.000081	0.000000	FALSE	time	4.000000			
[ENDSCAN]
[CALL]
	gate1open.sc
[MOTOR]
	S18.axis2.piezo rotation	1	deg	FIT	H	LPEAK45			
[END]
