[STANDARD]
		
[robD]
	created 03.06.2021   20:21
[SCAN]
	file path	.
	name		*
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.auxiliary.Robot Diagonal	16	mm	-6000.000000	9000.000000	1000.000000	0.100000	FALSE	time	10.000000			
[ENDSCAN]
[END]
