[STANDARD]
		
[robotZ]
	created 15/06/2023   09:53
[SCAN]
	file path	.
	name		*
	category	standard
	# repeats	1
	notes		room to enter remarks
[SUBSCAN]
	S18.auxiliary.Robot Z	24	um	276500.000000	265000.000000	-500.000000	0.000000	FALSE	time	10.000000			
[ENDSCAN]
[END]
